.coverageSection {
  margin-bottom: 48px;

  &__title {
    color: #1c1c1c;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 8px;
  }

  &__paragraph {
    color: #1c1c1e;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 48px;
  }

  &__imgWapper {
    text-align: center;

    & img {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .coverageSection {
    margin-bottom: 48px;

    &__title {
      line-height: 40px;
      margin-bottom: 20px;
    }

    &__paragraph {
      line-height: 30px;
    }
  }
}
