.button {
  color: white;
  background-color: hsl(226, 100%, 50%);
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2%;
  width: 100%;
  transition: background-color 0.3s;

  &_radius {
    &_small {
      border-radius: 8px;
    }

    &_medium {
      border-radius: 16px;
    }

    &_large {
      border-radius: 20px;
    }
  }

  &_size {
    &_small {
      height: 40px;
    }

    &_medium {
      height: 45px;
    }

    &_large {
      height: 50px;
    }
  }

  &_hasIcon {
    background-color: #676df1;
    position: relative;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    & img {
      transform: translateY(-3px);
      height: 40px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #7796c0;
  }

  &_reject {
    background-color: #d93737c9;

    &:hover {
      cursor: pointer;
      background-color: #b42c2cc9;
    }
  }

  &_disable {
    background-color: #7796c0;

    &:hover {
      cursor: not-allowed;
    }
  }
}

@media (max-width: 596px) {
  .button {
    &_hasIcon {
      justify-content: center;
      padding: 0;
      border-radius: 50%;

      & span {
        display: none;
      }
    }
  }
}

@media (max-width: 375px) {
  .button {
    &_hasIcon {
      height: 40px;
    }
  }
}
