.completeNotice {
  padding: 40px 0 96px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 147%;
    color: #1c1c1e;
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 147%;
    color: #4f5665;
  }

  &__buttonWrapper {
    width: 268px;
  }
}
