.formSection {
  background-color: white;
  box-shadow:
    0px 2px 4px 0px rgba(0, 0, 0, 0.2),
    0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  padding: 32px;

  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__upWrapper {
    display: flex;
    margin-bottom: 32px;
  }

  &__leftWrapper {
    width: 50%;
    border-right: 1px dashed #8080806b;
    padding-right: 40px;
  }

  &__header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
  }

  &__step {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }

  &__rightWrapper {
    padding-left: 40px;
  }

  &__resultLabel {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__amountInput {
    font-size: 16px;
    font-weight: 500;
    width: 220px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #80808044;
    background-color: transparent;
  }

  &__buttonWrapper {
    width: 148px;
    padding-top: 24px;
    margin-left: auto;
  }
}

@media (max-width: 969px) {
  .formSection {
    &__header {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }
}

@media (max-width: 745px) {
  .formSection {
    &__upWrapper {
      flex-direction: column;
    }

    &__leftWrapper {
      width: 100%;
      border-right: none;
      padding-right: 0px;
      padding-bottom: 30px;
      border-bottom: 1px dashed #8080806b;
    }

    &__rightWrapper {
      width: 100%;
      padding-top: 20px;
      padding-left: 0;
    }

    &__resultValue {
      border-bottom: none;
    }
  }
}

@media (max-width: 381px) {
  .formSection {
    &__buttonWrapper {
      margin: 0 auto;
    }
  }
}
