.subscribeSection {
  &__title {
    color: #ea7f1c;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 147.4%;
    margin-bottom: 30px;
  }

  &__description {
    color: #1c1c1e;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 62px;
  }

  &__descUp {
    display: block;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 27px;
  }

  &__descDown {
    font-weight: 500;
    line-height: 147.4%;
  }

  &__form {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    width: 525px;
    border: none;
    outline: none;
    padding: 22px 32px 22px 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;

    &::before {
      content: "";
      background-image: url("../../../../assets/emailIcon.svg");
      position: absolute;
      width: 28px;
      height: 38px;
      top: 26px;
      left: 32px;
      z-index: 100;
    }

    &:focus-within {
      border: 1px solid #676df1;
    }

    &_isSubscribed {
      padding: 22px 32px;

      &::before {
        display: none;
      }
    }
  }

  &__input {
    border: none;
    outline: none;
    color: #8f91b0;
    font-size: 20px;
    font-family: Nunito Sans;
    letter-spacing: 2px;
  }

  &__buttonWrapper {
    width: 162px;
  }

  &__subscribeMessage {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 212, 0);
  }

  &__error {
    padding-top: 10px;
    color: #ff5631;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 596px) {
  .subscribeSection {
    &__form {
      width: 100%;
      padding-right: 10px;
    }

    &__buttonWrapper {
      width: 45px;
    }
  }
}

@media (max-width: 408px) {
  .subscribeSection {
    &__form {
      padding: 10px 20px;

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 375px) {
  .subscribeSection {
    &__form {
      width: 100%;
      padding: 10px 20px;
      gap: 10px;
    }

    &__input {
      width: 100%;
    }
  }
}
