.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 112px;
  gap: 20px;

  &__title {
    color: #1c1c1e;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    width: 100%;
    max-width: 622px;
    margin-bottom: 36px;
  }

  &__buttonWrapper {
    width: 160px;
  }

  &__cardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }
}

@media (max-width: 1091px) {
  .heroSection {
    align-items: center;

    &__cardsWrapper img {
      width: 200px;
    }
  }
}

@media (max-width: 875px) {
  .heroSection {
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 48px;

    &__title {
      text-align: center;
      max-width: 100%;
    }

    &__buttonWrapper {
      margin: 0 auto;
    }

    &__cardsWrapper img {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .heroSection {
    &__title {
      font-size: 38px;
    }
  }
}
