.paymentModals {
  &__buttonsWrapper {
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  &__buttonWrapper {
    width: 96px;
  }

  &__buttonWrapperDenied {
    margin-left: auto;
    width: 128px;
  }
}
