.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;

  &__title a {
    font-size: 24px;
    color: #b4387a;
    letter-spacing: 2%;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #8d2c60;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 40px;
  }

  &__listItem a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2%;
    color: #1d1929;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #514672;
    }
  }

  &__burgerWrapper {
    display: none;
  }

  &__button {
    width: 128px;
  }
}

@media (max-width: 1339px) {
  .header {
    padding: 7px 20px 0px 20px;
  }
}

@media (max-width: 793px) {
  .header {
    & > :nth-child(3) {
      margin-right: auto;
    }
    &__navigation {
      display: none;
    }
    &__burgerWrapper {
      display: block;
      margin-left: 10px;
    }
  }
}

@media (max-width: 375px) {
  .header {
    flex-wrap: wrap;
    row-gap: 20px;

    & > :nth-child(3) {
      margin-right: 0;
    }

    &__button {
      width: 110px;
    }

    &__burgerWrapper {
      order: -1;
      margin-left: 0;
    }
  }
}
