.slider {
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;

  &__cardsList {
    list-style: none;
    display: flex;
    gap: 80px;
    margin-bottom: 48px;
    position: relative;
    transition: all 0.3s;
    padding-bottom: 5px;
  }

  &__buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
  }
}
